In [1]:
#Importing library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
ships=pd.read_csv('https://raw.githubusercontent.com/kwonkh0424/STEM_Hurricane/main/SHIPS_ATL.csv')

In [4]:
ships

,NAME,ID,YYMMDD,YEAR,HOUR,Wind_Speed,DELV24,PER,SHRD,POT,PC2
0,ALEX,AL011998,980727,1998,12,25,5,9999,6.3,-101,-58
1,ALEX,AL011998,980727,1998,18,25,5,9999,11.2,-102,-10
2,ALEX,AL011998,980728,1998,0,25,10,0,8.6,-105,-3
3,ALEX,AL011998,980728,1998,6,25,10,0,12.2,-100,-44
4,ALEX,AL011998,980728,1998,12,30,5,5,10.5,-89,-46
...,...,...,...,...,...,...,...,...,...,...,...
7400,RINA,AL192017,171108,2017,0,45,0,5,20.5,-37,123
7401,RINA,AL192017,171108,2017,6,50,9999,10,20.8,-28,90
7402,RINA,AL192017,171108,2017,12,45,9999,0,21.2,-29,126
7403,RINA,AL192017,171108,2017,18,45,9999,-5,22.5,-14,75
7404,RINA,AL192017,171109,2017,0,45,9999,0,23.8,43,105